@media screen and (max-width: 578px){
    .nav , .nav  ul, .explore-content-input, .simple-perfect-place-container{
        flex-direction: column;
    }
    .nav  ul  li{
        padding-bottom: 10px;
        align-items: center;
    }
    .nav  h1{
        font-size: 1.5rem;
        font-weight: 800;
    }
    .bg{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;;
    }
    .logo img{
        width: 29px;
        height: 35px;
    }
    .explore-container{
        padding: 0px;
        text-align: center;
        margin-bottom: 30px;
        padding-bottom: 20px;
    }
    .bg{
        max-width: 350px;
    }
    .explore-content  h1 {
        font-size: 1.5rem;
        font-weight: 800;
        padding-top: 20px;
    }
    .explore-content > p{
        font-size: 0.8rem;
        padding-top: 10px;
    }
    .explore-content-input input[type="text"]{
        width: 60%;
        padding: 10px;
        margin: 10px 0px;
        align-items: center;
    }
    .select-input{
        width: 60%;
        margin: 10px 0px;
    }
    .Find-Now{
        width: 60%;
        margin: 10px 0px;
        color: white;
    }
    .explore-content-input{
        /* padding: 0px; */
        align-items: center;
        max-width: 300px;
        margin: 0 auto;
    }
    .simple-perfect-place-container{
        padding: 10px;
    }
    .simple-perfect-place-container  h1{
        font-size: 1.5rem;
        font-weight: 800;
        padding-top: 20px;
    }
    .simple-perfect-place-container  p{
        font-size: 0.8rem;
        padding-top: 10px;
    }
    .simple-perfect-place-container  img{
        width: 100%;
        height: 100%;
    }
    .simple-perfect-place-content > ul > li{
        padding-bottom: 10px;
        align-items: center;
        font-size: 0.7rem;
    }
    #see-more{
        width: 60%;
        margin: 10px 0px;
        color: white;
    }
    .destination-container{
        max-width: 350px;
        margin: 0 auto;
        padding: 0px;
    }
    .destination-content > h1{
        font-size: 1.2rem;
        font-weight: 800; 
        padding-top: 10px;
        
    }
    .destination-content > p{
        font-size: 0.8rem;
        padding-top: 10px;
        margin: 0 auto;
    }
    .destination-card  .card-12 , .card-345, .card-67{
        flex-direction: column;
        padding: 0px;
    }
     .card-1 > img, .card-2 > img, .card-3 > img,.card-4 > img,.card-5 > img,.card-6 > img,.card-7 > img{
        height: 176px;
        width: 100%;
        flex-shrink: 0; 
    }
    .centered-text{
        text-align: center;
        font-size: 1rem;
        font-weight: 800;
    }
    .why-choose-us-container, .Deals-Discounts-container{
        padding: 0px;
        max-width: 350px;
        margin: 0 auto;
    }
    .why-choose-us-content > h1, .Deals-Discounts-content > h1{
        font-size: 1.2rem;
        font-weight: 800;
        padding-top: 20px;
    }
    .why-choose-us-content > p, .Deals-Discounts-content > p{
        font-size: 0.8rem;
        padding-top: 10px;
    }
    .why-choose-us-card-1{
        padding: 0px;
        flex-direction: column;
        max-width: 350px;
        margin: 0 auto;
    }
    .why-choose-us-card-11, .why-choose-us-card-12 , .why-choose-us-card-13{
        padding: 30px;
        flex-direction: column;
        width: 100%;
        margin-bottom: 10px;
    }
    .why-choose-us-card-11 > h3, .why-choose-us-card-12 > h3, .why-choose-us-card-13 > h3{
        font-size: 1rem;
        font-weight: 800;
        padding-top: 10px;
    }
    .why-choose-us-card-11 > p, .why-choose-us-card-12 > p, .why-choose-us-card-13 > p{
        font-size: 0.8rem;
        padding-top: 10px;
    }
    .why-choose-us-card-11 > img, .why-choose-us-card-12 > img,.why-choose-us-card-13 > img{
        width: 48px;
    }
    .why-choose-us-card-13{
        margin: 0px;
        padding: 0px;
        padding-left: 30px;
        padding-bottom: 30px;
    }
    .Deals-Discounts-card-11{
        padding: 30px;
        flex-direction: column;
        width: 100%;
        margin-bottom: 10px;
    }
    .Deals-Discounts-card-11 > h3{
        font-size: 1rem;
    }
    .Deals-Discounts-card-11 > h4{
        font-size: 0.9rem;
    }
    .Deals-Discounts-card-11 > p{
        font-size: 0.8rem;
    }
    .Deals-Discounts-btn{
        width: 130px;
        height: 40px;
        flex-shrink: 0;
        font-size: 1rem;
    }
}