
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

/* header style start*/

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 120px;
}
.logo{
    display: flex;
    justify-content: space-between;
    gap: 0 20px;
}
.nav > h1{
    font-size: 2.2rem;
    font-weight: 800;
    color: #131318;
}
.logo-guru{
    color: #ff5400;
}

.menu > ul {
    display: flex;
    padding-top: 22px;
    gap: 0 44px;
}

.menu > ul > li{
    list-style: none;
    /* margin-right: 20px; */
    
}

.menu > ul > li > a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 1rem;
    font-weight: 600;
}
.menu-link > li > a:focus{
    color: #ff5400;
}

/* header style end */

/* main section style start */
/* explore section style start */
.explore-container{
    padding: 50px 120px;
    text-align: center;
}
.bg{
    background-size: cover;
    background-image: url(../images/Group13.png);
    max-width: 1290px;
    margin: 0 auto;
    background-repeat: no-repeat;
}

.explore-content > h1{
    font-size: 4rem;
    font-weight: 800;
    color: #FFFFFF;
    margin-bottom: 20px;

}
.explore-content > p{
    font-size: 1rem;
    font-weight: 400;
    color: #FFFFFF;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 40px;
}

 /* destination style start */

 .destination-content > h1{
    font-size: 2.5rem;
    font-weight: 800;
    color: #131318;
    margin-bottom: 20px;
 }
.destination-content > p {
    font-size: 1rem;
    font-weight: 400;
    color: #131318B2;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.destination-container{
    padding-top: 60px ;
    max-width: 1290px;
    margin: 0 auto;
}
.destination-content{
    text-align: center;
    padding-bottom: 30px;
}
.destination-card > .card-12 , .card-345, .card-67{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}
.destination-card {
    padding: 30px;
} 

.destination-card > .card-12 > img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}
.card-1, .card-2, .card-3,.card-4, .card-5, .card-6, .card-7{
    position: relative;
}

.centered-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 28px;
    font-weight: 800;
}
/* destination style end */
/* why-choose-us style start  */
.why-choose-us-container, .Deals-Discounts-container {
    padding: 50px 120px;
    text-align: center;
}
.why-choose-us-content > h1, .Deals-Discounts-content > h1{
    font-size: 2.5rem;
    font-weight: 800;
    color: #131318;
    margin-bottom: 20px;
}
.why-choose-us-content > p, .Deals-Discounts-content > p{
    font-size: 1rem;
    font-weight: 400;
    color: #131318B2;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 40px;
} 
.why-choose-us-card-1{
    display: flex;
    padding-bottom: 20px;
    text-align: start;
}
.why-choose-us-card-11{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 49%;
    margin-right: 25px;
    padding-left: 50px;
}
.why-choose-us-card-11, .why-choose-us-card-12,.why-choose-us-card-13 > img{
    padding-top: 60px;
}

.why-choose-us-card-11 > h3, .why-choose-us-card-12 > h3, .why-choose-us-card-13 > h3{
    font-size: 1.5rem;
    font-weight: 800;
    color: #131318;
    padding-top: 20px;
}
.why-choose-us-card-11 > p, .why-choose-us-card-12 > p, .why-choose-us-card-13 > p{
    font-size: 1rem;
    font-weight: 400;
    color: #5A5A5D;
    padding-top: 20px;
    padding-bottom: 30px;
}

.why-choose-us-card-12{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    width: 49%;
    padding-left: 50px;
}
.why-choose-us-card-13{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    max-width: 635px;
    text-align: start;
    padding-left: 50px;
    margin-left: 300px;
}
.why-choose-us-card-13 > p{
    max-width: 550px;
}

/* why-choose-us style end  */

/* Deals-Discounts style start  */

.Deals-Discounts-card-11{
    border-radius: 16px;
    border: 2px solid #FFF;
    background: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(2.5px);
    width: 600px;
    height: 400px;
    text-align: start;
}
.Deals-Discounts-card-1-bg-1, .Deals-Discounts-card-1-bg-2, .Deals-Discounts-card-1-bg-3 {
    background-image: url(../Images/Group39.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 16px; 
    padding-top: 90px;
    padding-left: 630px;
    padding-bottom: 90px;
    margin-bottom: 20px;
}
.Deals-Discounts-card-1-bg-2{
    background-image: url(../Images/Group40.png);
    padding-left: 50px;
}
.Deals-Discounts-card-time-location{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-left: 40px;
    max-width: 400px;
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400; 
}
.Deals-Discounts-card-11 > h3{
    font-size: 1.5rem;
    font-weight: 800;
    color: #131318;
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 10px;
}
.Deals-Discounts-card-11 > p{
    font-size: 1rem;
    font-weight: 400;
    color: #5A5A5D;
    padding-left: 40px;
    max-width: 450px;
    padding-bottom: 40px;
}
.Deals-Discounts-card-11 > h4{
    font-size: 1.2rem;
    font-weight: 800;
    color: #FF5400;
    padding-left: 40px;
    padding-bottom: 30px;
}
.Deals-Discounts-btn{
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background: #ff5400;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 800;
    cursor: pointer;
    margin-left: 40px;
}
#see-btn{
    margin-left: 700px;
    margin-bottom: 40px;
}

/* Deals-Discounts style end  */
/* simple-perfect-place style start */
.simple-perfect-place-container{
    padding: 50px 120px;
    display: flex;
    justify-content: space-around;
    gap: 0 50px;
}
.simple-perfect-place-content{
    max-width: 460px;
}
.simple-perfect-place-content > h1{
    font-size: 2.5rem;
    font-weight: 800;
    color: #131318;
    margin-bottom: 20px;
}
.simple-perfect-place-content > p{
    font-size: 1rem;
    font-weight: 400;
    color: #5A5A5D;
    margin-bottom: 40px;
}
.simple-perfect-place-content > ul{
    padding-left: 12px;

}
.simple-perfect-place-content > ul > li{
    padding-bottom: 30px;
    font-size: 1rem;
    font-weight: 700;
}
#see-more{
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background: #ff5400;
    color: #FFFFFF;
    font-size: 1.2rem;
    font-weight: 800;
    cursor: pointer;

}
.popular-list{
    color: #131318B2;
    font-weight: 400;
    font-size: 1rem;
}


/* simple-perfect-place style end */

/* newsletter style start  */
.newsletter-container{
    padding: 50px 120px;
    display: flex;
    justify-content: space-around;
   /* gap: 0 10px; */
}
.newsletter-content{
    border-radius: 16px;
    border: 1px solid #FF5400;
    padding: 40px;
    width: 30%;
}

    
.newsletter-content-card-1 > h1{
    font-size: 2.5rem;
    font-weight: 800;
    color: #131318;
    margin-bottom: 20px;
}
.newsletter-content-card-1 > p{
    font-size: 1rem;
    font-weight: 400;
    color: #131318B2;
    margin: 0 auto;
    margin-bottom: 40px;
}
.newsletter-container input[type="text"], .newsletter-container input[type="submit"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
}
.newsletter-container input[type="text"] {
    padding: 10px;
    padding-right: 50px;
    font-size: 1rem;
    border: 1px solid #ccc;
    flex-grow: 1;
    background: rgba(19, 19, 24, 0.05);
    border-radius: 8px;
    margin-right: 10px;
    
}

.newsletter-container input[type="submit"] {
    padding: 10px 100px;
    background-color: #FF5400;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: 800;
    color: white;
    border: none;
    cursor: pointer;
    flex-shrink: 0;
}
.newsletter-content-img{
    width: 55%;
    position: relative;
}
.travelguru-discount{
    border-radius: 16px;
    background: #FF5400; 
    color: #FFF;
    width: 300px;
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 70px;
    left: 350px;
    transform: rotate(-19.628deg);
}
.travelguru-discount > h1{
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 20px;
}
.travelguru-discount > p{
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0 auto;
}
/* newsletter style end  */

/* main section style end */


/* footer style start */
.footer-container{
    background: rgba(19, 19, 24, 0.05);
    color: #131318;
    padding: 50px 120px;
    text-align: center;
}
.footer-container > h3{
    font-size: 1.5rem;
    font-weight: 700;
}
.footer-container > p{
    font-size: 1rem;
    font-weight: 400;
    font-family: Manrope; 
    color: #5A5A5D;
    max-width: 400px;
    margin: 0 auto;
}
.footer-container > ul > li{
    list-style: none;
    padding-right: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.footer-container > ul{
    display: flex;
    justify-content: center;
    margin-top: 17px;
}
.footer-logo{
    display: flex;
    gap: 0 20px;
    justify-content: center;
    margin-bottom: 20px;
}
.footer-content-p{
    padding-top: 30px;
    font-weight: 300;
    font-size: 1rem;
    color: #131318;
}
#footer-line{
    border-top: 1px solid #1313181A;
    max-width: 700px;
    margin: 0 auto;
}